<h1 id="rad">Header</h1>

<article>
    <p>I want to be red and larger than the other text.</p>
    <p>I want to be normal sized and the default color.</p>
    <p>I want a third paragraph here</p>
    <p>I want a fourth paragraph here</p>
    <p>I want a fifth paragraph here, with some <strong>strong text</strong></p>
</article>

<div id="rad"></div>

<div>
    <button type="primary">Primary button</button>
</div>
<div>
    <button type="secondary">Secondary button</button>
</div>

<ul>
    <li><p>List item</p></li>
    <li><p>List item</p></li>
    <li><p>List item</p></li>
    <li><p>List item</p></li>
</ul>

<p>A paragraph of text with some <strong>bold text for emphasis</strong>.</p>

<div id="rad"></div>

<div class="wrapper">
    <article class="flow">
        <h1>Next sibling selector</h1>
        <figure class="callout">
        <p>
            The <strong>next sibling selector</strong> allows us to only add margin to
            siblings that follow each other.
        </p>
        </figure>
        <div class="top box">
        <p>I have no margin because I am the first child.</p>
        <p>
            I have <code>margin-top</code> because I am a <strong>next sibling</strong>.
        </p>
        <p>I am also a <strong>next sibling</strong>, so also get margin top.</p>
        </div>
    </article>
</div>

<p class="FinalParagraph">Final paragraph</p>