<h1 id="rad">Header</h1>

<article>
    <p>I want to be red and larger than the other text.</p>
    <p>I want to be normal sized and the default color.</p>
    <p>I want a third paragraph here</p>
    <p>I want a fourth paragraph here</p>
</article>

<div id="rad"></div>

<div>
    <button type="primary">Primary button</button>
</div>
<div>
    <button type="secondary">Secondary button</button>
</div>

<ul>
    <li><p>List item</p></li>
    <li><p>List item</p></li>
    <li><p>List item</p></li>
    <li><p>List item</p></li>
</ul>